<div class="search-box">
    Search: <input type="text" [(ngModel)]="q">
</div>

<div class="list top-margin-15">
    <div class="list-title">
        <div>Label</div>
        <div>Description</div>
        <div>Category</div>
        <div class="list-item-12">Done</div>
        <div class="list-item-12">Actions</div>
    </div>
    <div class="list-item" *ngFor="let item of items | customFilter : q; let i = index;">
        <div>
            <input type="text" [(ngModel)]="item.label" [readonly]="!item.isEdit">
        </div>
        <div>
            <input type="text" [(ngModel)]="item.description" [readonly]="!item.isEdit">
        </div>
        <div>
            <input type="text" [(ngModel)]="item.category" [readonly]="!item.isEdit">
        </div>
        <div class="list-item-12">
            <input type="checkbox" [(ngModel)]="item.done" (change)="done(item.done, item.id)">
        </div>
        <div class="list-item-12">
            <button (click)="edit(item)" *ngIf="item.id && !item.isEdit">Edit</button>
            <button (click)="save(item)" *ngIf="!item.id || item.isEdit">Save</button>
            <button (click)="delete(item.id, i)">Delete</button>
        </div>
    </div>
</div>

<div class="top-margin-15">
    <button (click)="add()">Add Item</button>
</div>
